# Topmost editor config file
root = true

# Custom Coding Styles for Java files
[*.java]
indent_style = space
indent_size = 4
charset = utf-8 
trim_trailing_whitespace = true

[*.yml]
indent_style = space
indent_size = 2
