
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Email Verification</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    </head>
    
    <body yahoo="" bgcolor="#f8f9fa" style="margin: 0; padding: 0; min-width: 100% !important">
      <table width="100%" bgcolor="#f8f9fa" cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <table class="content" align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%; max-width: 541.31px; border: 2px solid rgba(0, 0, 0, 0.87);">
              <tr>
                <td bgcolor="#ffffff" class="header" style="padding: 25px 30px 0 30px">
                  <table align="center" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td style="padding: 0 0 0 0">
                        <img class="fix" src="https://api.dev.worx.id/logo.svg" height="40"
                          width="100%" alt="worx-logo" />
                          <h1 style="
                            font-family: 'Open Sans', sans-serif;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 22px;
                            text-align: center;
                          ">Welcome to Worx</h1>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td bgcolor="#ffffff" class="innerpadding borderbottom" style="
                      padding: 0 64px 30px 64px;
                      border-bottom: 1px solid #f2eeed;
                    ">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td class="bodycopy" style="
                            color: #000000;
                            font-family: 'Open Sans', sans-serif;
                            font-size: 12px;
                            line-height: 16.34px;
                          ">
                        <p>Hi, Selena Gomez!</p>
                        <p style="margin-top: 18px;">
                            Thank you for registering in our application! Worx is a new and easy way to monitor fleet that you have.
                        </p>
                        <p style="margin-top: 18px;">
                            To login your account, please click the button below:
                        </p>
                        <table align="center" class="buttonwrapper" border="0" cellspacing="0" cellpadding="0"
                          style="margin-top: 30px">
                          <tr>
                            <td class="button" width="181" height="36" bgcolor="#DA3630" style=" 
                                  text-align: center;
                                  border: 2px solid rgba(0, 0, 0, 0.87);
                                  box-shadow: 2px 2px 0px #000000;
                                ">
                              <a href="#" target="_blank" style="
                                    font-family: 'Space Mono', sans-serif;
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 14px;
                                    line-height: 24px;
                                    color: #ffffff;
                                    letter-spacing: 0.4px;
                                    text-decoration: none;
                                  ">Confirm Account</a>
                            </td>
                          </tr>
                        </table>
                        <p style="padding: 20px 0 0 0">
                            By clicking on the button above you will be logged in to your new account at 
                            Worx and have to complete access to all features. You also agree to receive 
                            occasional emails with helpful hints, product updates, and industry news.
                        </p>
                        <p style="margin-top: 18px;">Thank you for your interest in Worx.</p>
                        <p style="margin-top: 18px;">
                            If you have any problems with your signup, please send a message to
                          <a style="color: #DA3630; text-decoration: none;" href="mailto:help@worx.id">help@worx.id</a>
                        </p>
                        <p style="margin-top: 18px;">
                          Thank you<br />
                          Everyone at Worx
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td bgcolor="#DA3630" class="header" style="padding: 25px 30px 10px 30px">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family: 'Open Sans', sans-serif; font-size: 12px;">
                    <tr align="center">
                      <td style="padding: 0 0 15px 0;">
                        <img class="fix" src="https://api.nle-connect.id/mail.png" height="12px" width="15px"
                          alt="mail-logo" />
                        <a style="color: #ffffff; text-decoration: none; cursor: pointer; padding-left: 5px;"
                          href="mailto:hai@Worx.id">hai@Worx.id</a>
                      </td>
                      <td style="padding: 0 0 15px 0;">
                        <img class="fix" src="https://api.nle-connect.id/phone.png" height="12px" width="12px"
                          alt="phone-logo" />
                        <a style="color: #ffffff; text-decoration: none; padding-left: 5px;">62-21-14777</a>
                      </td>
                      <td style="padding: 0 0px 15px 0; display: flex; align-items: center;">
                        <img class="fix" src="https://api.nle-connect.id/web.png" height="15px" width="15px"
                          alt="web-logo" />
                        <a style="color: #ffffff; text-decoration: none; cursor: pointer; padding-left: 5px;"
                          href="https://www.worx.id">www.worx.id</a>
                      </td>
                    </tr>
                    <tr style="color: #ffffff">
                      <td>
                        <p></p>
                      </td>
                      <td>
                        <table style="color: #ffffff; text-decoration: none">
                          <tr>
                            <td style="display: flex; align-items: center;">
                              <a style="cursor: pointer; margin-right: 4px;" href="https://facebook.com" target="_blank"> <img class="fix"
                                  src="https://api.nle-connect.id/facebook.png" height="17px" width="17px"
                                  alt="facebook-logo" /></a>
                              <a style="cursor: pointer; margin-right: 4px;" href="https://instagram.com" target="_blank"> <img class="fix"
                                  src="https://api.nle-connect.id/template-instagram.png" height="17px" width="17px"
                                  alt="instagram-logo" /></a>
                              <a style="cursor: pointer;" href="https://linkedin.com" target="_blank"><img class="fix"
                                  src="https://api.nle-connect.id/template-linkedin.png" height="17px" width="17px"
                                  alt="linkedin-logo" /></a>
                              <p style="font-size: 12px; line-height: 1; padding-left: 10px;">worx.indonesia</p>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td>
                        <p></p>
                      </td>
                    </tr>
                    <tr align="center" style="color: #ffffff">
                      <td></td>
                      <td style="padding: 15px 0px 0px 0">
                        <p>®worx 2021</p>
                      </td>
                      <td></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </body>
    
    </html>
    
    <!-- -->