
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Share Link</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    </head>
    
    <body yahoo="" bgcolor="#f8f9fa" style="margin: 0; padding: 0; min-width: 100% !important; font-family: 'Space Mono', sans-serif;">
      <table width="100%" bgcolor="#f8f9fa" cellpadding="0" cellspacing="0">
        <tr>
          <td style="padding: 8px;">
            <table class="content" align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%; max-width: 1024px; border: 2px solid rgba(0, 0, 0, 0.87);">
                <tr>
                    <td bgcolor="#DA3630" class="header" style="padding: 20px 40px;">
                      <table align="center" border="0" cellpadding="0" cellspacing="0" style="font-size: 12px;">
                        <img class="fix" src="https://api.dev.worx.id/logo.svg" width="88" alt="worx-logo" />
                      </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 24px 24px 40px 24px;">
                        <table class="content" align="center" cellpadding="0" cellspacing="0" border="0" style="padding: 40px 24px; width: 100%; max-width: 672px; border: 2px solid rgba(0, 0, 0, 0.87); background-color: #DA36301A;">
                            <tr>
                                <td>
                                    <p style="font-size: 14px; margin: 0 0 24px 0;letter-spacing: 1px;">
                                        I’ve invited you to fill in a form:
                                    </p>
                                    <p style="font-size: 18px; font-weight: 500; margin: 0 0 4px 0;">
                                        Valid Form
                                    </p>
                                    <p style="font-size: 12px; margin: 0; color: rgba(0, 0, 0, 0.54);">
                                        Ini adalah deskripsi
                                    </p>
                                </td>
                                <td>
                                    <table align="center" class="buttonwrapper" border="0" cellspacing="0" cellpadding="0" style="margin: 44px 0 0 auto;">
                                        <tr>
                                            <td class="button" width="148" height="40" bgcolor="#DA3630" style="text-align: center; border: 2px solid rgba(0, 0, 0, 0.87);">
                                                <a href="http://worx.id/fill-forms?code=" target="_blank" style="
                                                        font-family: 'Space Mono', sans-serif;
                                                        font-style: normal;
                                                        font-weight: 400;
                                                        font-size: 14px;
                                                        line-height: 1;
                                                        color: #ffffff;
                                                        letter-spacing: 0.4px;
                                                        text-decoration: none;
                                                    ">Fill Out Form</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="content" align="center" cellpadding="0" cellspacing="0" border="0" style="padding: 0 0 24px 0; width: 100%; max-width: 672px;">
                            <tr>
                                <td>
                                    <p style="font-size: 14px; margin: 0;">
                                        Creat your own Form, <a href="http://worx.id/sign-up" style="color: #DA3630; font-weight: 500; text-decoration: none;">Get Started!</a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
          </td>
        </tr>
      </table>
    </body>
    
    </html>
    
    <!-- -->